{% extends 'base.html' %} {% block title %} {{ post.name }}
 {% endblock title %} {% block content %}
    <h2>Detalhes do grupo: {{ post.name }}</h2>
    
    <section class="dados-de-grupo">
      <img src="{{ post.poster_url }}" alt="Poster do grupo {{ post.name}}" />
      <ul>
        <li>Nome: {{ post.name }}</li>
        <li>Detalhes: {{post.detail}}</li>
        <li>Data de postagem: {{post.data_postagem}}</li>
        <li><a href="{% url 'posts:update' post.id %}">Editar</a></li>
        <li><a href="{% url 'posts:delete' post.id %}">Deletar</a></li>
      </ul>
    </section>
    

    <h2>Comentários:</h2>
      {% if comments %}
        {% for comment in comments %}
          <p><b>{{comment.author}}</b></p>
          <p><small>Comentou em: {{comment.data_comentario}}</small></p>
          <p>{{comment.comentario}}</p>
          <hr>
        {% endfor %}
      {% else %}
      <p >Não há Comentários</p>
      {% endif %}
    <h4>
      <a href="{%url 'posts:comentario' post.pk %} "> Fazer comentário</a>
    </h4>
{% endblock content %}